.transaction_history {
    table-layout: fixed;
    margin: auto;
    width: 900px;
    border-color: #cacaca;
    text-align: center;
}


thead {
    background-color: #3E6ED9;
    color: #ffffff;
}


th {
    width: 33%;
    padding: 10px;
    font-weight: 400;
    border: 1px solid #cacaca;
}


tr:nth-child(2n) {
    background-color: #e0e3ea;
}

td {
    border: 1px solid #cacaca;
    padding: 10px;
}